<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Aaron Ward-Quick's Portflio Site</title>
    </head>

  <body>
    <header id="header">
      <div class="content"></div>
      <nav class="navbar fixed-top navbar-toggleable-sm navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="h3" class="navbar-brand mb-0"></span>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="#intro" class="active" title="Next Section">Intro</a>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#aboutme" title="Next Section">About Me</a>
        </li>
        <li class="nav-item">
          <a href="#skills" title="Next Section">Skills</a>
        </li>
        <li class="nav-item">
          <a href="#mywork" title="Next Section">Work</a>
        </li>
        <li class="nav-item">
          <a href="#contact" title="Next Section">Contact</a>
        </li>
      </ul>
      <span class="navbar-text"></span>
    </div>
  </nav>

</header>
<div class="wrapper">
  <div id="intro">
    <h2 class="sub-heading">
      <span>Portfolio</span>
    </h2>
    <h4 class="main-heading">
      <span>Full stack
      </span>developer &
      <br>
      <span>code
      </span>enthusiast</h4>
    <h4 class="sub-heading">
      <span>By Aaron Ward Quick</span>
    </h4>
    <div></div>
  </div>
</div>

<div id="aboutme">
  <div class="container">
  <div class="row"></div>
  <div id="bio_col" class="col span-1-of-2 left-side js-wp-animate-profile-description animated slideinleft">
    <h5 class="bioheading">Hello
      <span>There,</span>
    </h5>
    <p class="sub-bioheading">
      <br></br>
      I'm Aaron Ward-Quick, a full stack developer and computer enthusiast. I am originally from the NYC metro area, however I'm now residing in sunny Miami.
    </p>
    <p>
      I recently decided to make the transition to software after spending most of my prior history in management roles. I found that, the joy that I experienced while creating something and solving complex problems was something I truly enjoyed.
    </p>
    <p>
      Despite being enrolled in a second-degree program for software design and security, I decided I wanted to jumpstart my career which lead me to Wyncode a software boot camp. My time there taught me not only how to code and the theories behind it, but
      also a developer's mindset. I always remember that we should never stop learning.
    </p>
    <p>
      I look forward to taking these skills into my new career and connecting with those like minded individuals who also love to code. Outside of coding I enjoy music and also spend a lot of time DJ‘ing
    </p>
    <div class="social-wrapper js-wp-animate-social-wrapper clearfix animated fadeInUp">
      <ul class="profile-social">
        <li>
          <a href="mailto:aaronmwq@gmail.com">
            <i class="fa fa-envelope" style="font-size:29px;color:white" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/awardquick">
            <i class="fa fa-github-square" style="font-size:30px;color:white" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/aaron-ward-quick-a4325932">
            <i class="fa fa-linkedin-square" style="font-size:30px;color:white" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/RealHiStakes">
            <i class="fa fa-twitter-square" style="font-size:30px;color:white" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <div class="hire-social">
        <a href="#contact">Hire Me</a>
      </div>
    </div>
  </div>
  <div class="image_container">
    <div class="image1">
      <div id="photo_col" class="col span-1-of-2 right-side js-wp-animate-profile-head-shot animated slideinright">
        <%=image_tag("darkaaron.jpeg"class: 'darkaaron') %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div id="skills">
<div class="container">
<div class="row">
  <div class="col span-1-of-2">
    <svg class="monitor" version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
      <g>
        <g>
          <path d="M489.6,12H22.4C16.2,12,12,16.2,12,22.4v373.7c0,6.2,4.2,10.4,10.4,10.4h223.2v72.7h-72.7V500h166.1v-20.8h-72.7v-72.7    h223.2c6.2,0,10.4-4.2,10.4-10.4V22.4C500,16.2,495.8,12,489.6,12z M479.2,385.8H32.8v-353h446.4V385.8z"/>
          <path d="m84.7,344.2h342.6c6.2,0 10.4-4.2 10.4-10.4v-249.1c0-6.2-4.2-10.4-10.4-10.4h-342.6c-6.2,0-10.4,4.2-10.4,10.4v249.2c0,6.2 4.2,10.3 10.4,10.3zm10.4-249.1h321.8v228.4h-321.8v-228.4z"/>
          <polygon points="172.9,214.5 232.1,239.4 232.1,229 185.4,209.3 232.1,189.6 232.1,179.2 172.9,204.1   "/>
          <polygon points="238.4,255 246.7,255 272.6,162.6 264.3,162.6   "/>
          <polygon points="279.9,189.6 326.6,209.3 279.9,229 279.9,239.4 339.1,214.5 339.1,204.1 279.9,179.2   "/>
        </g>
      </g>
    </svg>
    <h4 class="skills-sub-heading">UI Development</h4>
    <ul class="skills-specific" style="list-style-none">
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JQuery</li>
      <li>Git</li>
      <li>Terminal</li>
      <li>Bootstrap</li>
      <li>Javascript</li>
    </ul>
  </div>
  <div class="col span-2-of-2">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <g>
        <g>
          <g>
            <path
              d="M467.333,50.482H44.667C20.037,50.482,0,70.519,0,95.148c0,24.55,0,311.601,0,321.703
        				c0,24.629,20.037,44.667,44.667,44.667h422.667c24.629,0,44.667-20.037,44.667-44.667c0-10.19,0-297.356,0-321.703
        				C512,70.519,491.964,50.482,467.333,50.482z M473.714,416.852c0,3.518-2.863,6.381-6.381,6.381H44.667
        				c-3.518,0-6.381-2.862-6.381-6.381V165.697h435.429V416.852z M473.714,127.412H38.286V95.148c0-3.518,2.863-6.381,6.381-6.381
        				h422.667c3.518,0,6.381,2.862,6.381,6.381V127.412z"/>
            <path
              d="M255.996,275.138h185.815c10.572,0,19.143-8.571,19.143-19.143v-58.392c0-10.572-8.571-19.143-19.143-19.143H255.996
        				c-10.572,0-19.143,8.571-19.143,19.143v58.392C236.853,266.568,245.424,275.138,255.996,275.138z M275.139,216.745h147.529
        				v20.106H275.139V216.745z"/>
            <path
              d="M255.996,410.471h185.815c10.572,0,19.143-8.571,19.143-19.143v-80.461c0-10.572-8.571-19.143-19.143-19.143H255.996
        				c-10.572,0-19.143,8.571-19.143,19.143v80.46C236.853,401.9,245.424,410.471,255.996,410.471z M275.139,330.009h147.529v42.174
        				H275.139V330.009z"/>
            <path
              d="M70.19,410.471h130.933c10.572,0,19.143-8.571,19.143-19.143V197.602c0-10.572-8.571-19.143-19.143-19.143H70.19
        				c-10.572,0-19.143,8.571-19.143,19.143v193.724C51.048,401.9,59.619,410.471,70.19,410.471z M89.333,216.745h92.648v155.439
        				H89.333V216.745z"/>
            <circle cx="63.146" cy="108.093" r="10.917"/>
            <circle cx="94.004" cy="108.093" r="10.917"/>
            <circle cx="124.862" cy="108.093" r="10.917"/>
          </g>
        </g>
      </g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
    </svg>
    <h4 class="backend">Back End Development</h4>
    <ul class="skills-specific2" style="list-style-none">
      <li>Ruby</li>
      <li>Java</li>
      <li>PHP</li>
      <li>Ruby on Rails</li>
      <li>C</li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
</div>
</div>
<div id="mywork">
<div class="container">
  <div id="work_photos" class="row">
    <h1 class="work_examples">Examples of my application work.</h1>
    <div class="col-lg-4 col-sm-4 col-xs-6">
      <a title="Url Shortener"><img class="thumbnail img-responsive" src="assets/shorty.png"><a href="https://shortytheurlshortener.herokuapp.com/">Url Shortener</a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6">
      <a title="Webzoo Homepage" href="#responsive"><img class="thumbnail img-responsive" src="assets/webzoomain.png" alt="webzoo homepage image"><a href="https://webzoo.herokuapp.com/">Web Zoo</a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6">
      <a title="Webzoo product page" href="#responsive"><img class="thumbnail img-responsive" src="assets/webzooproduct1.png" alt="Webzoo product image"></a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6">
      <a title="Stylish To Do List" href="#responsive"><img class="thumbnail img-responsive" src="assets/stylishtodo.png" alt="Stylishtodo list image"><a href="https://stylishtasklist.herokuapp.com/">Stylish Task List</a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6">
      <a title="Manhunt Repl Game" href="#responsive"><img class="thumbnail img-responsive" src="assets/manhunt2.png" alt="Manhunt image"></a><a href="https://github.com/awardquick/Manhunt">Manhunt</a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6">
      <a title="Crypto Me Homepage" href="#responsive"><img class="thumbnail img-responsive" src="assets/cryptome.png" alt="Crypto image"></a></a><a href="https://github.com/BennyBack/crypto_pitch">Crypto Me</a>
    </div>
    <hr>
    <hr>
  </div>
</div>

</div>
<div id="contact">
      <div class="container">
        <div class="row">
          <div class="col span-1-of-2 left-box">
            <h3>Hire
              <span>Me</span>
            </h3>
            <p class="foot">I am seeking a position within a company that will provide long-term stability, new challenges and the opportunity to work along with talented people.</p>
          </div>
          <div class="col span-2-of-2 right-box">
            <h3 class="reachout">Reach
              <span>Out</span>
            </h3>
            <p class="contact-info">
              <a href="tel:+17187496890 ">718.749.6890</a><br>
          </p>
          <ul class="footer-social">
            <li>
              <a href="mailto:aaronmwq@gmail.com">
                <i id="mail" class="material-icons" style="font-size:30px;color:white">email</i>
              </a>
            </li>
            <li>
              <a href="https://github.com/awardquick">
                <i class="fa fa-github-square" style="font-size:30px;color:white" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/aaron-ward-quick-a4325932">
                <i class="fa fa-linkedin-square" style="font-size:30px;color:white" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/RealHiStakes">
                <i class="fa fa-twitter-square" style="font-size:30px;color:white" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      </footer>
</div>
</div>
</div>
</div>
<!----- SLIDES END --->


<p>©<%= Date.today.year %>
Aaron Profile.</p>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel"></h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  console.log('hi');
$('.thumbnail').click(function(){
      $('.modal-body').empty();
  	var title = $(this).parent('a').attr("title");
  	$('.modal-title').html(title);
  	$($(this).parents('div').html()).appendTo('.modal-body');
  	$('#myModal').modal({show:true});
});
});


</script>

</body>

</html>
